// ------------------------------------------------------- board grid cards-------------------------------------------------------

.board-card {
  color: #fff;
  position: relative;
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 3px;
  width: 100%;
  background-size: cover;
  &:hover {
    border: 2px solid #3d3d3d;
  }
  &.board-actions-open {
    z-index: 4;
  }
  .toggle-actions-icon {
    position: absolute;
    right: 5px;
    top: -50px;
  }
  .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 3px;

    // background-color: desaturate(#c95656, 50);
    background: linear-gradient(180deg, rgba(252, 252, 252, 0) 21%, rgba(32, 32, 32, 0.5130427170868348) 93%);
  }
  // background: rgba(255, 255, 255, 0.924);
  // box-shadow: -1px 4px 5px 0px rgb(177 177 179 );

  cursor: pointer;
  max-width: 520px;
  height: 120px;
  a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h1 {
    font-size: 1.2em;
    color: #fff;
    font-weight: unset;
  }
  .icon-btn {
    position: absolute;
    top: 3px;
    right: 3px;
    color: #fff;
    opacity: 0;
    transition: opacity 0.087s;
    cursor: pointer;
    .icon {
      width: 20px;
    }

    &.edit {
      right: 33px;
    }

    &:hover {
      background-color: #ffffff40;
    }
  }

  &:hover {
    .icon-btn {
      opacity: 1;
    }
  }

  &.add-board {
    background-color: #3d3d3d;
    &:hover {
      background-color: black;
    }
  }
}

.board-actions-popover-wrapper {
  position: relative;
  font-size: 14px;
  .board-actions-popover {
    @include popover-main;
    box-shadow: 0px 1px 6px #00000099;
    z-index: 1;
    left: -50px;
    top: -24px;
    position: absolute;
    .popover-header {
      height: 40px;
      font-size: 14px;
      color: #212121;
      position: relative;
      margin-bottom: 8px;
      text-align: center;
      padding-inline-start: 11px;
      padding-inline-end: 11px;
      @include popover-header;
    }
    .popover-section {
      @include popover-section;

      &-header {
        @include popover-section-header;
      }
      &-list {
        @include popover-section-list;
        cursor: pointer;
        &-item {
          color: $clr2;
          margin-inline-start: 7px;
          padding-top: 8px;
          padding-bottom: 8px;
          font-size: 1.2em;
          &:hover {
            background-color: rgb(245, 246, 248);
          }
        }
      }
    }
  }
}
