.list-actions-popover-wrapper {
    position: relative;
    font-size: 14px;
    .list-actions-popover {
        @include popover-main;
        box-shadow: 0px 1px 6px #00000099;
        z-index: 1;
        left: -50px;
        top: 5px;
        position: absolute;
        .popover-header {
            height: 40px;
            font-size: 14px;
            color: #212121;
            position: relative;
            margin-bottom: 8px;
            text-align: center;
            padding-inline-start: 11px;
            padding-inline-end: 11px;
            @include popover-header;
        }
        .popover-section {
            @include popover-section;

            &-header {
                @include popover-section-header;
            }
            &-list {
                @include popover-section-list;
                cursor: pointer;
                &-item {
                    color: $clr2;
                    margin-inline-start: 7px;
                    margin-right: 7px;
                 padding-top: 8px;
                 &:last-child {
                     padding-top: 0;
                 }
                    padding-bottom: 8px;
                    font-size: 1.2em;
                    
                    &:hover {
                        background-color: rgb(245, 246, 248);
                    }
                }
                .pick-list-color {
                    margin-bottom: 20px;
                }
                .list-colors-grid{
                    margin-top: 10px;
                    padding: 20px 10px;
                    border-radius: 3px;
                    background-color: #9999991c;
                    display: grid;
                    grid-template-columns: repeat(8, 1fr);
                    width: 100%;
                    grid-gap: 7px;
                
                    &>*{
                       height: 30px;
                       border-radius: 4px;
                       transition: transform .2s;
                       &:hover {
                           transform: scale(1.08);

                       }
                    }
                }
            }
        }
    }
}
