.task-preview {
  font-size: 0.8em;
  border-radius: 4px;
  background-color: #fff;
  padding: 4px 6px;
  width: 98%;
  min-height: 30px;
  transition: transform 0.5s;
  rotate: 0deg;
  margin-bottom: 8px;

  &:hover {
    background-color: #f3f3f3;
  }

  &.moving {
    transform: rotate(5deg);
    // transition: transform 0.5s;
  }

  &.quickEdit {
    position: fixed;
    z-index: $overlay-z-index + 1;
    width: 272px;
  }

  .preview-img {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  .top-line-preview-container {
    justify-content: space-between;
    .labels-container {
      margin-bottom: 2px;
      margin-top: 2px;
      flex-wrap: wrap;
      cursor: pointer;
      .task-label {
        min-width: 40px;
        height: 8px;
        border-radius: 5px;
        margin-inline-end: 2.5px;
        padding: 0 10px;
        text-align: center;
        font-size: 12px;
        letter-spacing: 0.2px;
        font-family: Poppings-medium;
        color: #fff;
        margin-bottom: 3px;

        transition: height 0.3s;
      }
      .open {
        height: 20px;
      }
    }
  }
  .task-title-wrapper {
    justify-content: space-between;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    .task-title-input {
      font-size: 14px;  
      background-color: transparent;
      font-family: Poppings-medium;
      outline: none;
      border: none;
      padding: 4px;
      padding-left: 0;
      border-radius: 5px;
      height: 100%;
      width: 92%;
      margin: 0 0px 0;

      &:focus {
        outline: none;
      }
    }
  }
  .task-preview-icons-container {
    margin-top: -2px;
    margin-bottom: 5px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .task-preview-indication-icons {
      margin-inline-end: 10px;
      & > * {
        margin-inline-end: 10px;
      }
      .indication-icon {
        width: 15px;
        margin-right: 2px;
      }
    }
    .date-indication {
      border-radius: 3px;
    }
    .complete {
      padding: 0 4px;
      background-color: #61bd4f;
      color: #fff;
    }
    .task-members-imgs {
      // justify-content: space-between;

      .task-member-img-wrapper {
        @include aspect-ratio(1, 1);
        width: 27px;
        // z-index:-1;
        .task-member-preview-img {
          width: 100%;
          border-radius: 999px;
        }
      }
      &.narrow-down > *:not(:last-child) {
        // width: 22px;
        margin-right: -5px;
      }
    }
  }
  .edit-icon {
    font-size: 2em;
    fill: "#6e6868";
    position: absolute;
    padding: 4px;
    right: 2px;
    cursor: pointer;
    // padding: 5px;
    color: $clr2;
    &:hover {
      background-color: rgb(206, 209, 218);
    }
  }

  &.last-child {
    margin-bottom: 0;
  }
}

.quick-btn {
  position: relative;
  top: 50px;
  padding-left: 24px;
  padding-right: 24px;
}
