.task-list-container {
  background-color: #ebecf0;
  position: relative;
  margin-inline-end: 10px;
  border-radius: 4px;
  width: 272px;
  min-width: 272px;
  padding: 10px;
  padding-right: 6px;

  // transition: transform 0.5s;
  // transform: rotate(0deg);

  // &.moving {
  //   transform: rotate(5deg);
  //   transition: transform 0.5s;
  // }

  .list-title {
    position: relative;
    @include list-title;
    justify-content: space-between;
    user-select: none;
    outline: none;
    input {
      letter-spacing: 0.5px;
      user-select: none;
      background-color: transparent;
      font-family: Poppings-medium;
      outline: none;
      border: none;
      color: #fff;
      padding: 4px;
      border-radius: 4px;
    }

    ::placeholder {
      color: #fff;
    }

    .toggle-actions-icon {
      transition: transform 0.11s;
      position: absolute;
      right: 0;
      top: -12px;
      width: 27px;
      padding-left: 5px;
      padding-right: 5px;
      border-radius: 3px;
      margin-inline-end: 4px;
      cursor: pointer;
      &:hover {
        // background-color: rgba(61, 61, 61, 0.411);
        // background-color: rgb(226, 228, 233)
      }
    }
  }
  .task-composer {
    min-width: 180px;
    font-size: 0.8em;
    cursor: pointer;
    width: 100%;
    margin-top: 8px;

    transition: all 0.3s;

    &:hover {
      background-color: rgba(9, 30, 66, 0.08);
    }

    input[name="title"] {
      padding: 5px;
      width: 100%; 
      color: #5e6c84;
      &::placeholder {
        color: #5e6c84;
      }
      &:focus {
        // border: 2px solid lightskyblue;
        background-color: rgba(9, 30, 66, 0.08);
        border-radius: 2px;
      }
    }
    input,
    textarea {
      background-color: transparent;
      border: none;
      resize: none;
      outline: none;
      font-family: inherit;
      -moz-appearance: none;
      font-size: 1.1em;
      &::placeholder {
        color: #fff;
        // font-weight: 400;
      }
    }
    textarea {
      padding-bottom: 15px;
      padding-top: 5px;
    }
  }
  .save-task-btn {
    margin-top: 5px;
  }

  .task-previews-container {
    overflow-y: auto;
    max-height: 60vh;

    @media (min-height: 775px) {
      max-height: 68vh;
    }

    @media (min-height: 1100px) {
      max-height: 77vh;
    }
  }
}
