
@font-face {
    src: url('../../fonts/KaushanScript/KaushanScript-Regular.ttf');
    font-family: 'Kaushan';
}
@font-face {
    src: url('../../fonts/Poppins/Poppins-Regular.ttf');
    font-family: 'Poppings';
}
@font-face {
    src: url('../../fonts/Poppins/Poppins-Light.ttf');
    font-family: 'Poppings-light';
}
@font-face {
    src: url('../../fonts/Poppins/Poppins-Medium.ttf');
    font-family: 'Poppings-medium';
}
@font-face {
    src: url('../../fonts/Poppins/Poppins-SemiBold.ttf');
    font-family: 'Poppings-bold';
}
@font-face {
    src: url('../../fonts/Poppins/Poppins-Thin.ttf');
    font-family: 'Poppings-thin';
}
