// Colors
$clr1: #ce2e6c;
$clr2: #092f32;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$task-bgc-clr: #f4f5f7;
$task-button-bgc: rgba(9,30,66,.04);
$task-button-bgc-hover: rgba(9,30,66,.08);

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

$overlay-z-index: 10;
$body-header-mb: 100px;
$border-bottom-clr:  rgba(9,30,66,.13);
$boards-section-mb: 50px;
// Popovers

$qeb-height: 36px;
